In [2]:
!pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\desm1\anaconda3\lib\site-packages (4.0.34)

In [5]:
import pyodbc
import pandas as pd

In [58]:
uid = 'etl'
pwd = 'demopass'
driver = "{SQL Server Native Client 11.0}"
server = "LAPTOP-L5QL3LC7\SQLEXPRESS"
database = "AdventureWorksDW2019;"


conn = pyodbc.connect(Trusted_connection = "Yes", Driver = "{SQL Server Native Client 11.0}", SERVER= "LAPTOP-L5QL3LC7\SQLEXPRESS", DATABASE= "AdventureWorks2019", UID= uid, PWD= pwd)

In [61]:
sql = "SELECT * FROM [Production].[ProductCategory]"

In [62]:


df = pd.read_sql_query(sql, conn)
df.head()

,ProductCategoryID,Name,rowguid,ModifiedDate
0,1,Bikes,CFBDA25C-DF71-47A7-B81B-64EE161AA37C,2008-04-30
1,2,Components,C657828D-D808-4ABA-91A3-AF2CE02300E9,2008-04-30
2,3,Clothing,10A7C342-CA82-48D4-8A38-46A2EB089B74,2008-04-30
3,4,Accessories,2BE3BE36-D9A2-4EEE-B593-ED895D97C2A6,2008-04-30